@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}

button,
label,
a {
  @apply cursor-pointer;
}

button,
.btn {
  @apply flex items-center gap-2 rounded p-4 py-2 transition;
  @apply text-sm md:text-base;
}
